{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block header %}
<h1>
Добавить новую задачу
</h1>
{% endblock %}

{% block content %}
<div class="text-body text-justify">
    <hr class="mb-4">
    <h2>
       Добавить новую задачу:
    </h2>
    <div class="text-monospace">
        <form method="POST" action="/tasks">
            <p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Тема:</span>
                    </div>
                    <input name="subject" type="text" class="form-control" aria-describedby="basic-addon3">
                </div>
            </p>
            <p>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Описание</span>
                    </div>
                    <textarea name="context" class="form-control" aria-label="Описание"></textarea>
                </div>
            </p>
            <p>
            <input type="submit" value="Добавить">
            </p>
        </form>
    </div>
</div>

{% endblock %}